@import "styles/colors.scss";
@import "styles/layout.scss";
@import "styles/fonts.scss";

.text-input {
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    flex-direction: column;
    font-size: $font-size-xs-3;
  }

  &__input {
    border: 0;
    border-radius: 6px;
    padding: $spacing-xs;
    width: 100%;

    &-error {
      -webkit-appearance: none;
      background: $rose !important;
      border: 1px solid $red;
      color: $red !important;
    }
  }

  &__input.has-label {
    margin-top: $space-1;
  }
}
