/*
  When adding a color, please add it to the :export section at the end of this file.
  If you need to add a new section/type of color, you can add the section title to the :export by pre-prending it with an underscore.
*/
@import "mixins.scss";

/* Primary Colors */
$blue: #0E99FF;
$dark: #444444;
$green: #7ED221;
$red: #C12E3B;
$slate: #607997;
$white: #FFFFFF;

/* Secondary Colors */
$dark-bg: #333333;
$cool-grey-dark: #6F7D8E;
$grey: #C0C2D0;
$cool-light-grey: #E4E4EE;
$light-grey: #D7D7D7;
$heavy-grey: #9C9C9C;
$whitish: #F7F7F7;
$off-white: #F6F5F9;
$cloud: #E6F3FC;
$mint-chip: #D4FFCC;
$rose: #FFC7CC;
$tint-blue: #F4F9FB;

/* Gradients */
$gradient-teal: linear-gradient(45deg, #4392D7 0%, #00E3C6 100%);
$gradient-alert: linear-gradient(90deg, rgba(229, 55, 143, 1) 0%, rgba(247, 107, 28, 1) 100%);
$gradient-success: linear-gradient(rgba(180, 236, 81, 1) 0%, rgba(66, 147, 33, 1) 100%);
$gradient-blue: linear-gradient(rgba(83, 141, 192, 1) 0%, rgba(148, 204, 228, 1) 100%);

/* Transparencies */
$shade: #6079983F;
$tint: #FFFFFF3F;

/* stylelint-disable */
:export {
  _primary-colors: 0;
  blue: $blue;
  dark: $dark;
  green: $green;
  red: $red;
  slate: $slate;
  white: $white;
  _secondary-colors: 0;
  dark-bg: $dark-bg;
  cool-grey-dark: $cool-grey-dark;
  grey: $grey;
  cool-light-grey: $cool-light-grey;
  light-grey: $light-grey;
  off-white: $off-white;
  cloud: $cloud;
  mint-chip: $mint-chip;
  rose: $rose;
  tint-blue: $tint-blue;
  _gradients: 0;
  gradient-teal: $gradient-teal;
  gradient-alert: $gradient-alert;
  gradient-success: $gradient-success;
  gradient-blue: $gradient-blue;
  _transparencies: 0;
  shade: $shade;
  tint: $tint;
}
/* stylelint-enable */
