@import './mixins.scss';

$font-default: 'Lato', sans-serif;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-normal: 400;
$font-weight-light: 300;

/* IMPORT_PT: update these as the project sees fit */
$font-size-xl-4: fluid-size(120px, 300px);
$font-size-xl-3: fluid-size(72px, 96px);
$font-size-xl-2: fluid-size(54px, 74px);
$font-size-xl-1: fluid-size(46px, 56px);

$font-size-lg-4: fluid-size(28px, 64px);
$font-size-lg-3: fluid-size(28px, 48px);
$font-size-lg-2: fluid-size(28px, 42px);
$font-size-lg-1: fluid-size(28px, 37px);

$font-size-md-4: fluid-size(18px, 36px);
$font-size-md-3: fluid-size(22px, 36px);
$font-size-md-2: fluid-size(22px, 29px);
$font-size-md-1: fluid-size(18px, 23px);

$font-size-sm-3: fluid-size(18px, 22px);
$font-size-sm-2: fluid-size(16px, 18px);
$font-size-sm-1: fluid-size(14px, 18px);

$font-size-xs-3: fluid-size(12px, 14px);
$font-size-xs-2: fluid-size(10px, 12px);
$font-size-xs-1: fluid-size(8px, 10px);

/* Line Heights */
$line-height-xxxl: fluid-size(58px, 104px);
$line-height-xxl: fluid-size(47px, 58px);
$line-height-xl: fluid-size(38px, 47px);
$line-height-l: fluid-size(31px, 38px);
$line-height-m: fluid-size(25px, 31px);
$line-height-s: fluid-size(21px, 25px);
$line-height-xs: fluid-size(15px, 21px);
$line-height-xxs: fluid-size(8px, 15px);

/* stylelint-disable */

:export {
  fontDefault: $font-default;
  fontSizeLg1: $font-size-lg-1;
  fontSizeLg2: $font-size-lg-2;
  fontSizeLg3: $font-size-lg-3;
  fontSizeLg4: $font-size-lg-4;
  fontSizeMd1: $font-size-md-1;
  fontSizeMd2: $font-size-md-2;
  fontSizeMd3: $font-size-md-3;
  fontSizeMd4: $font-size-md-4;
  fontSizeSm1: $font-size-sm-1;
  fontSizeSm2: $font-size-sm-2;
  fontSizeSm3: $font-size-sm-3;
  fontSizeXL1: $font-size-xl-1;
  fontSizeXL2: $font-size-xl-2;
  fontSizeXL3: $font-size-xl-3;
  fontSizeXL4: $font-size-xl-4;
  fontSizeXS1: $font-size-xs-1;
  fontSizeXS2: $font-size-xs-2;
  fontSizeXS3: $font-size-xs-3;
  fontWeightBold: $font-weight-bold;
  fontWeightLight: $font-weight-light;
  fontWeightMedium: $font-weight-medium;
  fontWeightNormal: $font-weight-normal;
  fontWeightSemibold: $font-weight-semibold;
  lineHeightLg: $line-height-l;
  lineHeightMd: $line-height-m;
  lineHeightSm: $line-height-s;
  lineHeightXL: $line-height-xl;
  lineHeightXS: $line-height-xs;
  lineHeightXXL: $line-height-xxl;
  lineHeightXXS: $line-height-xxs;
  lineHeightXXXL: $line-height-xxxl;
}
/* stylelint-enable */
