/**
  If making changes to this file, please make sure the changes are reflected on the :export section at the end of the file.
 */

@import 'mixins.scss';

$width-breakpoint-xl: 1690px;
$width-breakpoint-lg: 1200px;
$width-breakpoint-md: 992px;
$width-breakpoint-sm: 768px;
$width-breakpoint-xs: 576px;
$width-breakpoint-xxs: 320px;

/* IMPORT_PT: update these as the project sees fit */
$spacing-xxl: between(32px, 60px, $width-breakpoint-xxs, $width-breakpoint-xl);
$spacing-xl: between(20px, 40px, $width-breakpoint-xxs, $width-breakpoint-xl);
$spacing-l: between(16px, 32px, $width-breakpoint-xxs, $width-breakpoint-xl);
$spacing-m: between(12px, 20px, $width-breakpoint-xxs, $width-breakpoint-xl);
$spacing-s: between(8px, 16px, $width-breakpoint-xxs, $width-breakpoint-xl);
$spacing-xs: between(4px, 8px, $width-breakpoint-xxs, $width-breakpoint-xl);
$spacing-xxs: between(0, 4px, $width-breakpoint-xxs, $width-breakpoint-xl);

$space-1: 4px;
$space-2: 8px;
$space-3: 12px;
$space-4: 16px;
$space-5: 20px;
$space-6: 24px;
$space-7: 28px;

$border-radius-1: 2px;
$border-radius-2: 4px;
$border-radius-3: 6px;
$border-radius-4: 8px;
$border-radius-5: 10px;
$border-radius-round: 50%;

/* stylelint-disable */
:export {
  spacing-xxs: '0px-4px';
  spacing-xs: '4px-8px';
  spacing-s: '8px-16px';
  spacing-m: '12px-20px';
  spacing-l: '16px-32px';
  spacing-xl: '20px-40px';
  spacing-xxl: '32px-60px';
  space-1: $space-1;
  space-2: $space-2;
  space-3: $space-3;
  space-4: $space-4;
  space-5: $space-5;
  space-6: $space-6;
  space-7: $space-7;
  border-radius-1: $border-radius-1;
  border-radius-2: $border-radius-2;
  border-radius-3: $border-radius-3;
  border-radius-4: $border-radius-4;
  border-radius-5: $border-radius-5;
  border-radius-round: $border-radius-round;
}
/* stylelint-enable */
