@import "colors.scss";
@import "fonts.scss";

/* ==========================================================================
	Typography Defaults
	========================================================================== */

body {
  font-family: $font-default;
  overflow-wrap: break-word;  /* Break long words by default */
}

/* ==========================================================================
	Headings
	========================================================================== */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}
