@import "../../styles/colors.scss";
@import "../../styles/layout.scss";
@import "../../styles/fonts.scss";

.address {
  display: flex;
  font-family: $font-default;
  border: none;

  &-btn {
    border-radius: 6px;
    color: $white;
  }
}
