@import "styles/colors.scss";
@import "styles/fonts.scss";
@import "styles/layout.scss";

.icon {
  background: rgba(0, 0, 0, 0);
  border: 0;
  color: $dark;
  max-height: $font-size-md-2;
  max-width: $font-size-md-2;
  min-height: $font-size-md-1;
  min-width: $font-size-md-1;
  padding: $space-1;

  svg {
    display: block;
    height: 100%;
    width: 100%;

    & > path {
      fill: currentColor;
    }
  }

  &:enabled {
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
    position: relative;
    top: 1px;
  }

  &:hover {
    background: none;
  }
}

.primary {
  color: $blue;
}

.tertiary {
  color: $white;
}

.green {
  color: $green;
}

.slate {
  color: $slate;
}
