@import "../../styles/colors.scss";
@import "../../styles/layout.scss";
@import "../../styles/fonts.scss";

.toggle-switch {
  display: inline-block;
  position: relative;
  width: 80px;
  font-size: $font-size-xs-3;

  .toggle-switch-checkbox {
    display: none;
  }

  .toggle-switch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border-radius: 18px;
  }

  .toggle-switch-slider {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
    color: $white;

    &::before {
      display: block;
      float: left;
      width: 50%;
      height: 36px;
      padding: 0;
      line-height: 36px;
      font-size: 14px;
      font-family: $font-default;
      font-weight: bold;
      box-sizing: border-box;
      content: "Yes";
      padding-left: 14px;
      background-color: $green;
      color: $white;
    }

    &::after {
      display: block;
      float: left;
      width: 50%;
      height: 36px;
      padding: 0;
      line-height: 36px;
      font-size: 14px;
      font-family: $font-default;
      font-weight: bold;
      box-sizing: border-box;
      content: "No";
      padding-right: 14px;
      background-color: $slate;
      text-align: right;
    }
  }

  .toggle-switch-btn {
    display: block;
    width: 28px;
    height: 28px;
    background: $white;
    position: absolute;
    top: 4px;
    bottom: 0;
    right: 47px;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }

  .toggle-switch-label .toggle-switch-checkbox:checked + .toggle-switch-slider {
    margin-left: 0;
  }

  .toggle-switch-label .toggle-switch-checkbox:checked ~ .toggle-switch-btn {
    right: 5px;
  }
}
