@import "styles/colors.scss";
@import "styles/layout.scss";

.contact {
  display: flex;
  border-radius: 9px;
  padding: $spacing-l;
  height: 240px;
  width: 100%;
  max-width: 510px;

  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex: 1;
    max-width: 60%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    flex: 1;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-between;
  }

  &__details {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1;

    & > button {
      margin-top: $spacing-s;
    }
  }

  &__address {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
