@import 'styles/fonts';

.btnContent {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  svg {
    margin-right: 6px;

    & > path {
      fill: currentColor;
    }
  }
}
