@import "styles/colors.scss";
@import "styles/fonts.scss";
@import "styles/layout.scss";

.iconButton {
  background: rgba(0, 0, 0, 0);
  border: 0;
  color: $grey;
  padding: 0;

  svg {
    display: block;

    & > path {
      fill: currentColor;
    }
  }

  &:enabled {
    cursor: pointer;
  }

  &:active {
    opacity: 0.5;
    position: relative;
    top: 1px;
  }

  &:hover {
    background: none;
  }
}

.primary {
  color: $blue;
}

.tertiary {
  color: $white;
}

.green {
  color: $green;
}

.slate {
  color: $slate;
}
