@import "../../styles/colors.scss";
@import "../../styles/layout.scss";
@import "../../styles/fonts.scss";

.header {
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  font-family: $font-default;
  height: 100%;
  justify-content: center;
  padding: 10% 0;

  &__title {
    font-size: $font-size-lg-4;
    font-style: normal;
    font-weight: bold;
    line-height: $line-height-xxl;
    margin-top: 2%;
  }

  &__sub-title {
    font-size: $font-size-md-1;
    line-height: $line-height-m;
  }

  &__close {
    align-self: right;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 18px;
    top: 24px;

    svg {
      height: $font-size-md-1;
      width: $font-size-md-1;
    }
  }
}

.with-subtitle {
  margin-bottom: 2%;
  margin-top: 3%;
}
