@import "../../styles/colors.scss";
@import "../../styles/layout.scss";
@import "../../styles/fonts.scss";

.text-area {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-size: $font-size-xs-3;
  line-height: $line-height-s;

  &__label {
    color: $slate;
    display: flex;
    flex-direction: column;

    span {
      padding: 0 $space-1;
    }
  }

  &__input {
    padding: $spacing-s;
    width: 100%;
    background: $tint-blue;
    color: $dark;
    border-radius: 6px;
    border: 0;
  }

  &__dark {
    color: $cool-light-grey;

    textarea {
      background: $dark;
      color: $white;
    }
  }

  &__input.has-label {
    margin-top: $space-1;
  }
}
