@import "styles/layout.scss";
@import "styles/fonts.scss";

.search {
  border-radius: $border-radius-1;
  display: flex;
  flex-wrap: nowrap;
  height: 40px;
  padding: $space-1 $space-6 $space-1 $space-3;
  width: 100%;

  &__icon {
    align-items: center;
    display: flex;
    margin-right: $space-2;
    pointer-events: none;
  }

  &__input {
    background: transparent;
    border: none;
    font-size: $font-size-sm-2;
    outline: none;
    width: 100%;
  }
}
