{
    "presets": [
        ["@babel/preset-react"]
    ],
    "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        "@babel/plugin-proposal-export-namespace-from",
        ["styled-jsx/babel", {
            "plugins": [
                ["styled-jsx-plugin-sass", {
                    "sassOptions": {
                        "includePaths": ["../src/styles"]
                    }
                }]
            ]
        }]
    ]
}
