@import 'styles/colors';
@import 'styles/layout';

.content.sidepanel .header {
  flex-shrink: 0;
  height: 336px;
}

.sidepanelFooter {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: $spacing-l $spacing-xl;

  .footerBtn {
    margin-left: $spacing-s;

    &:disabled {
      background: $grey;
      border-color: $grey;
      color: $white;
    }
  }
}

.overlayFooter {
  display: flex;
  justify-content: center;
  margin: 15px auto 30px auto;

  button {
    border-radius: 29px;
  }
}
