@import '../../styles/layout.scss';

.pass-phrase {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.pass-phrase__item {
  margin: 1px;
  padding: $space-2 $space-1;
  text-align: center;
  width: calc((100% / 6) - 2px);

  &:nth-child(1) {
    border-top-left-radius: 6px;
  }

  &:nth-child(6) {
    border-top-right-radius: 6px;
  }

  &:nth-child(19) {
    border-bottom-left-radius: 6px;
  }

  &:nth-child(24) {
    border-bottom-right-radius: 6px;
  }
}
